# Jupyter Notebook
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# OS
.DS_Store
Thumbs.db
desktop.ini
